  <!--   *** TEXT ***-->
  <section id="text" class="text-page section-inverse background-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

		<div id="clearance" class="sign-in">
		  <h1>Sign in</h1>
		  
		  <%= render partial: '/sessions/form' %>

		</div>

</div>
</div>
</div>
</section>