
<main role="main" class="inner cover">
<h1 class="cover-heading">Turtle Logs</h1>
<p class="lead">Logging made easy: an intuitive combination of traditional post-its and a calendar.</p>
<p class="lead">
<a href="#" class="btn btn-lg btn-secondary">Learn more</a>
</p>
</main>